[2020-09-10 21:04] reubenae opened #7 "Migrate from sinon to jest spies"
We would like to remove our dependency on sinon and instead rely on jest.

Partial migration is valid and helpful!

https://github.com/intuit/user-data-for-fraud-prevention/blob/916a1c7ac229843f9606dd4ab837c91d401eee51/package.json#L67

[2020-09-10 21:07] reubenae opened #8 "Create README.md for HMRC Fraud headers"
At the moment, information on how to use the HMRC fraud headers functions are contained within the project's main README. It would be best to have a seperate one and link to it from the main.

[2020-09-10 21:11] reubenae opened #9 "Migrate from module.exports to export const"
At the moment we use module.exports all over the repo. It would be better to have ES6 style `export const ...` instead.

A stack overflow on this topic https://stackoverflow.com/questions/40294870/module-exports-vs-export-default-in-node-js-and-es6 likely this will require some babel configuration.

This can be tested with using yarn-link locally.

[2020-09-10 21:12] reubenae opened #10 "Add link in documentation to demo project"
I created a demo project for the purposes of a talk about this project, so it could be easily demo'd.

Here it is https://github.com/reubenae/user-data-demo

It would be good to link to this repo from the README.md

[2020-09-10 21:34] reubenae opened #11 "Configure circle CI to publish canary versions on PR's"
If a PR build passes, it should publish to npm as a canary version, so the developer can test it out in their own repo without having to use yarn link.

https://circleci.com/orbs/registry/orb/auto/release#commands-canary

[2020-09-10 21:43] reubenae opened #12 "Add typescript support"
**Is your feature request related to a problem? Please describe.**
As an engineer, I want to be able to write my code in typescript, so I can find out possible bugs at compile time.

**Describe the solution you'd like**
Typescript being a supported language in this repo

**Describe alternatives you've considered**
A clear and concise description of any alternative solutions or features you've cons

[2020-09-10 22:00] reubenae opened #13 "Configure allcontributors bot"
https://allcontributors.org/docs/en/bot/installation

[2020-09-10 22:02] reubenae opened #14 "Integrate commitlint"
Integrate commitlint https://github.com/conventional-changelog/commitlint and configure automatically semantic version releases.

[2020-09-10 22:03] reubenae opened #15 "Remove moment.js as a dependency"
Started this work here https://github.com/intuit/user-data-for-fraud-prevention/pull/6 as an example

We use a single function from moment's massive library. The benefit here is to reduce the bundle size; ideally by removing any dependency on moment.js

[2020-09-11 08:50] reubenae opened #16 "Yeoman generator for new feature"
**Is your feature request related to a problem? Please describe.**
As a engineer trying to add a new implementation for my problem space, I'd like a generator to automatically scaffold out the files for me

**Describe the solution you'd like**
Say california state taxes require similar information to HMRC about the user's device. You want to leverage the work in js/common, but you need to format i

[2020-09-11 08:53] reubenae opened #17 "Add section to README for expected project structure to make it easier to contribute new implementations"
MVP of https://github.com/intuit/user-data-for-fraud-prevention/issues/16

The vision for this repo is to have common functionality (in the common folder) but then multiple implementations tweaking the formatting etc for that specific problem space, e.g. HMRC in UK, California state taxes, Ireland personal taxes and so on.

This structure should be detailed in the readme or its own file and linked

[2020-09-15 14:33] reubenae opened #18 "Add a section in PR template to link to the issue it closes/relates to"
It would be good if the PR template had a place to fill in what issue the PR relates to.

[2020-09-15 15:04] skodamarthi opened #19 "Add code coverage badges to the repo"

[2020-09-24 03:54] christyjacob4 commented on #18
Hi @reubenae  I'd like to take this up

[2020-09-24 03:57] christyjacob4 commented on #14
@reubenae  I'd like to take this up

[2020-09-24 05:02] christyjacob4 commented on #13
Hi @reubenae wont this require us to have access to the repo settings?

[2020-09-24 05:22] christyjacob4 commented on #9
Hey @reubenae  I'd like to take this up

[2020-09-24 08:18] christyjacob4 commented on #10
@reubenae I'd like to take this up

[2020-09-24 12:38] reubenae commented on #13
@christyjacob4 yep, probably. Though if there are other ways to solve this problem we'd welcome a contribution. I didn't label this one deliberately as I think it will be open the repo maintainers have to action.

We would welcome help though (we've never set it up before). If you have that experience and would like to jump on a zoom call and work together with us we would greatly appreciate that

[2020-09-24 12:53] #10 closed

[2020-09-24 13:56] reubenae commented on #9
Good point. This issue could have been written better, the specific location I'd like to remove (if possible) is here: https://github.com/intuit/user-data-for-fraud-prevention/blob/master/src/js/index.js#L6

I will amend the description of the issue, thanks for taking a look!

[2020-09-24 23:04] #18 closed

[2020-09-25 14:58] #7 closed

[2020-09-25 15:27] skodamarthi opened #24 "Add Auto to generate releases based on semantic version labels on pull requests"
Generate releases based on semantic version labels on pull requests using Intuit's Auto: https://github.com/intuit/auto

[2020-09-25 16:00] #14 closed

[2020-09-26 07:23] christyjacob4 commented on #19
Hi @skodamarthi is this something I can take up for hacktoberfest?

[2020-09-26 09:53] reubenae commented on #19
@christyjacob4 you are welcome to work on this for hacktoberfest but for it to count you will need to wait until October to start before opening your PR. We will be applying hacktoberfest to relevant issues once October begins. We do not allow contributors to "save" issues for themselves and block others from contributing.

[2020-09-26 10:10] christyjacob4 commented on #19
Yeap. Makes sense. 👍

[2020-09-26 19:22] reubenae commented on #24
It would be great if this automates updating the changelog.md (which we have forgotten to do!)

[2020-09-30 07:29] christyjacob4 commented on #19
@reubenae @skodamarthi  I will need some help to include codecov in the repository.
Adding the badge is straight forward, but we'll first need to add CodeCov to our repo. Let me know when we can do that.
I found this useful to setup CodeCov
https://github.com/TechnionYP5777/SmartCity-Market/wiki/Integrating-Codecov-with-a-GitHub-project-(Coverage-tool)

[2020-09-30 16:27] skodamarthi commented on #19
Hi @christyjacob4 We already added jest-coverage-badges to the package. https://github.com/intuit/user-data-for-fraud-prevention/blob/3a198cab8d27d71dd5d6ec882d4994f6cefb9059/package.json#L9. Idea for this issue is to add the badges generated by jest-coverage-badges to the repo. Does that help?

[2020-09-30 17:20] skodamarthi opened #25 "Adding code coverage to circle CI and modify the build badge to show the coverage"
https://circleci.com/docs/2.0/code-coverage/#javascript

[2020-09-30 17:32] skodamarthi opened #26 "Add renovate for automated dependency updates"
https://www.npmjs.com/package/renovate

[2020-09-30 20:09] christyjacob4 commented on #19
Yeap @skodamarthi got it.. I see that `jest-coverage-badges` can generate 4 different badges. Which one should be displayed in the README ?

[code]

[2020-09-30 20:16] christyjacob4 commented on #19
In order to add the badges to the repo, Im thinking of running `npm run test:badges` in circleci `config.yml`

[2020-09-30 21:14] christyjacob4 commented on #19
<img width="600" alt="Screenshot 2020-09-30 at 2 14 19 PM" src="https://user-images.githubusercontent.com/20852629/94740309-1193b980-0390-11eb-89e9-410cd7a8091c.png">
Is this what is expected?

[2020-09-30 21:41] skodamarthi commented on #19
Looks good @christyjacob4! But can you please add all the four badges? You can keep circleci, npm and contributions badges in one line and all the coverage badges under a Section titled Code Coverage.
<img width="660" alt="Screen Shot 2020-09-30 at 22 37 25" src="https://user-images.githubusercontent.com/4538858/94742540-c1a3fb00-036d-11eb-8194-00bf2a92b75d.png">

[2020-09-30 23:56] honsq90 commented on #15
I can give this a go

[2020-09-30 23:56] honsq90 commented on #26
I can give this a go as well

[2020-10-01 00:00] honsq90 commented on #15
seems like yarn.lock is expecting this as the registry url? https://registry.npmjs.intuit.com:443

this preventing me from installing/removing packages. not sure if I want to remove moment.js and update the yarn lockfile.

[2020-10-01 03:43] christyjacob4 commented on #19
one question.. Since we don't have the ./coverage directory yet , these badges wont render unless we get run `npm run test:badges` from circle ci

[2020-10-01 03:43] interactwithankush commented on #8
I would like to contribute. Can I please be assigned to this problem?

[2020-10-01 04:01] christyjacob4 commented on #25
As a first step to add the badges to README, I would have to generate them from circle CI

[2020-10-01 08:15] reubenae commented on #8
Hi @interactwithankush - we do not assign issues in this repo. It makes organising too difficult. If you wish to contribute just open a PR for it and we will review. Please feel free to ask any questions you have on this issue first :)

[2020-10-01 08:17] reubenae commented on #15
Thanks @honsq90 - we'll look into that issue. While you are very welcome to contribute a fix for this issue, there is already a PR which has gone through a few iterations open for this issue - https://github.com/intuit/user-data-for-fraud-prevention/pull/6 - you would probably be better off working on another issue so we're not duplicating effort. Would appreciate your review on that PR though, to

[2020-10-01 09:30] christyjacob4 commented on #13
I would love that. I haven't set it up myself but I was intending to learn through this issue

[2020-10-01 09:44] #15 closed

[2020-10-01 11:18] skodamarthi commented on #13
Can we use auto for this?

An all-contributors plugin exists for it that would automatically add new contributors to the README of the project.

Need to do the following after adding Auto as part of https://github.com/intuit/user-data-for-fraud-prevention/issues/24

- Setup all-contributors

- Add the auto-all-contributors plugin

[2020-10-01 11:34] skodamarthi opened #29 "Add prettier badge to the repo"

[2020-10-01 11:45] christyjacob4 commented on #13
Okay let me get auto setup first and then I can take a look at the all contributors plugin

[2020-10-01 11:46] skodamarthi opened #30 "Improve Contributing section of ReadMe"
Point 6 of Contributing section in ReadMe can be improved by adding links for documentation directly under `yarn link` and `npm link`directly.

Also it would be good to add an additional point there with a link to our demo project:

Test your changes in your consuming code or using our demo project by running yarn link or npm link.

[2020-10-01 11:54] reubenae commented on #30
We already have a demo section in the README https://github.com/intuit/user-data-for-fraud-prevention#demo

One addition to this though would be that people can't "claim" issues as their own. If you want to contribute, just add a PR, you don't need to let us know in advance.

[2020-10-01 12:11] skodamarthi opened #31 "Pass the actual error instead of just a string as part of promise rejections"
Currently for the errors in getDeviceLocalIPAsString function https://github.com/intuit/user-data-for-fraud-prevention/blob/4919173553cc993485ded740c75e731a6ce742fe/src/js/common/browserInfoHelper.js#L13  we are only passing some error strings and not the actual stacktrace for the error. Construct an object that includes both the string and the actual error and pass it as a param to the reject. Th

[2020-10-01 12:16] skodamarthi opened #32 "Code clean up: Remove the unnecessary return while using arrow functions"
Eg: https://github.com/intuit/user-data-for-fraud-prevention/blob/master/src/js/common/globalsUtil.js

[2020-10-01 12:19] jakubkoje commented on #32
I'm gonna look at it.

[2020-10-01 12:27] khanna98 commented on #32
Solved this issue in this pull request: https://github.com/intuit/user-data-for-fraud-prevention/pull/33

[2020-10-01 12:48] fandok commented on #26
hi, if you want to applied this, i think the participant should have access to install things in your repo based on this https://github.com/renovatebot/renovate i can maybe do this, but i must have the access to your repo to install certain things

[2020-10-01 12:50] #32 closed

[2020-10-01 12:51] reubenae opened #34 "Remove global utils file"
We created a global utils file so we could easily inject mocked global objects (like document, window etc).

This was purely to help with testing. Instead we should acces the globals where we want them, and update the tests to use jest's global object.

See https://github.com/intuit/user-data-for-fraud-prevention/blob/master/tests/unit/common/browserInfoHelper.test.js#L229 for an example.

[2020-10-01 13:30] benknoble commented on #31
Hey @skodamarthi, I think I would like to work on this. I've identified the `reject` calls you referenced as

- https://github.com/intuit/user-data-for-fraud-prevention/blob/4919173553cc993485ded740c75e731a6ce742fe/src/js/common/browserInfoHelper.js#L20
- https://github.com/intuit/user-data-for-fraud-prevention/blob/4919173553cc993485ded740c75e731a6ce742fe/src/js/common/browserInfoHelper.js#L28
-

[2020-10-01 13:39] reubenae commented on #31
@benknoble agreed, it looks like the only place this would require a change is here: https://github.com/intuit/user-data-for-fraud-prevention/blob/4919173553cc993485ded740c75e731a6ce742fe/src/js/common/browserInfoHelper.js#L28

I'm not entirely convinced about the value here. It definitely would be a breaking change - which is not an issue, just something for us to keep in mind when we release it.

[2020-10-01 13:45] skodamarthi commented on #31
@benknoble and @reubenae Thanks for your comments! My thought was to do like this:
catch((e) => {
            reject({message: "CREATE_CONNECTION_ERROR", error: e})
}

Just replacing the string with an object that also includes the error. That would help the users to see the actual error other than just the string we are sending, so that they can get a quick understanding of what exactly is happen

[2020-10-01 13:47] benknoble commented on #31
I think https://github.com/intuit/user-data-for-fraud-prevention/blob/4919173553cc993485ded740c75e731a6ce742fe/src/js/common/browserInfoHelper.js#L51 would also benefit; and then it would probably be nice for all the errors in `reject` to have a uniform interface, so I would argue to change all of them (and find a sensible value for the other two).

Depends on who the "consumer" is. I've found it'

[2020-10-01 13:49] skodamarthi commented on #26
@fandok Thanks for your comment! It would probably be easier if I or @reubenae work on this. We will get back to you incase we need help on this.

[2020-10-01 13:56] reubenae commented on #31
Okay, I absolutely love this. You have convinced me :)

On the other points:

- Definitely we need a uniform interface from the function. `{message: "xyz", err: null|undefined|stacktrace}` is good for me.
- If we're going to do this, the sooner we do it the better. Fewer places to update, fewer consumers to update their consumed version.

[2020-10-01 13:57] benknoble commented on #31
Alright, I'll draft a quick PR on the code, and we can work on docs/updates/whatever else from there.

[2020-10-01 14:14] skodamarthi commented on #31
Great! Thank you! @benknoble Yes! All the places where reject is called has to be changed to follow the same pattern.

[2020-10-01 14:43] jitinmaher commented on #9
Hi @reubenae , can I take this up?

[2020-10-01 14:45] reubenae commented on #9
@jitinmaher you are free to submit a PR, and we appreciate the contribution. We do not allow people to "claim" issues in advance as its too tricky to manage.

Please make sure to test this with the demo project listed in the README.md using `yarn link` or `npm link`

[2020-10-01 14:54] skodamarthi opened #36 "Add jsDocs for exported functions"
Please add jsDocs to document all the exported functions that are missing docs.

[2020-10-01 14:56] reubenae commented on #36
I really don't like this idea. For exported functions that are used by consumers, sure, but not internal ones.
Typescript migration is a much better way to ensure functions are called correctly as behave as expected. JS doc just clutters up files IMO.

[2020-10-01 15:41] skodamarthi commented on #29
@sheetalsingala Sure! Please raise a PR once the changes are ready.

[2020-10-01 15:45] #29 closed

[2020-10-01 15:56] #31 closed

[2020-10-01 17:01] shubhamarora commented on #12
@reubenae @skodamarthi Can I give it a shot?

[2020-10-01 17:12] rachelquan commented on #13
Hi! I'm a GHC OSD participant, and I want to try this out! I submitted the form for this issue via Open Track Issue Tracker form!

[2020-10-01 17:18] sarahdahippo commented on #34
Hi! I am a vGHC OSD contributor :) What do you mean by accessing the globals where we want them? And which tests do we update? Thank you!

[2020-10-01 17:37] skodamarthi commented on #34
Hi @sarahdahippo! Thanks for reaching out. As part of this fix, you need to get rid of src/js/common/globalsUtil.js file and make the code changes necessary. Also you need to fix the tests in browserInfoHelper.test.js and mtdFraudPrevention.test.js, as they would start failing after removing GlobalUtils.js file. To fix the tests, you can directly directly stub jest's global object instead of globa

[2020-10-01 17:43] #30 closed

[2020-10-01 18:14] skodamarthi opened #41 "Add code to generate UUID for one of the HMRC headers"
Enhance this library to generate value for a new HMRC header: Gov-Client-Device-ID

You can generate an universally unique identifier (UUID), also known as a globally unique identifier (GUID), to use as a device ID

HMRC's documentation for this header can be found here: https://developer.service.hmrc.gov.uk/guides/fraud-prevention/connection-method/web-app-via-server/

Expected format:
Gov-Client

[2020-10-01 18:15] setezad commented on #11
Can I please work on this?

[2020-10-01 18:18] skodamarthi commented on #19
Updating this issue to only add code coverage badges as this is going to take some time. Will create a separate issue for npm version badge for GHC participants to work on it in parallel.

[2020-10-01 18:19] skodamarthi opened #43 "Add npm version badge to the repo"

[2020-10-01 18:19] christyjacob4 commented on #19
Sure makes sense 👍

[2020-10-01 18:24] reubenae commented on #11
Yep! Submit a PR, but this issue is open for all to submit a PR too.

[2020-10-01 18:30] #8 closed

[2020-10-01 18:36] AbderrahimSoubaiElidrissi commented on #43
I will take this

[2020-10-01 18:50] #43 closed

[2020-10-01 20:28] adithyaakrishna commented on #19
Can I work on this issue if its available, I can add the perfect logos and work on their alignment also 😶

[2020-10-01 20:32] salilbc commented on #41
@skodamarthi Can i take this up?

[2020-10-01 20:37] skodamarthi commented on #41
Hi @salilbc.. Sure :) But please note that another participant at @gracehopperOSD is also working on this. If there are multiple PRs raised, we will take a look at all of them and merge the one that is most suitable. Please let me know if you have any questions. Thanks!

[2020-10-01 20:39] salilbc commented on #41
so just to confirm, I need to add a new header Gov-Client-Device-ID( in UUID format) to the to mtdFraudPrevention.js and update the unit tests?

[2020-10-01 20:53] skodamarthi commented on #41
@salilbc Yes..that's right! Follow the same pattern as the other headers in mtdFraudPrevention.js. The expected format for this header is: Gov-Client-Device-ID: beec798b-b366-47fa-b1f8-92cede14a1ce

[2020-10-01 21:54] rujuj commented on #17
I'm a Grace Hopper OSD participant and I'd love to take this one :)

[2020-10-01 22:09] reubenae commented on #13
Thanks for your work @rachelquan !

[2020-10-01 22:09] #13 closed

[2020-10-01 22:12] rachelquan commented on #13
You're welcome! Thank YOU so much for the help & feedback, and for making my first contribution to an open-source project a positive one! 😊

[2020-10-01 23:17] skodamarthi opened #60 "Update demo section in readme with steps for testing"
Here are the steps to test:

- Run yarn link in user-data-for-fraud-prevention
- Clone the demo project, in there:

Now you can make changes in user-data-for-fraud-prevention locally and they will instantly reflect in the demo project.

You can check the browser console for errors.

[2020-10-01 23:24] reubenae commented on #9
We're not sure here https://github.com/intuit/user-data-for-fraud-prevention/pull/45 - this needs more research done, so I recommend not working on this issue yet (unless you have a really good understanding of this sort of thing and can bring the repo maintainers up to speed!)

[2020-10-01 23:59] rujuj commented on #17
@reubenae can I get some clarification on what changes need to be made and where?

[2020-10-02 05:47] salilbc commented on #41
PR is raised for this issue with all review comments resolved. please merge if this looks fine
 https://github.com/intuit/user-data-for-fraud-prevention/pull/54

[2020-10-02 06:54] salilbc commented on #60
I can take this up

[2020-10-02 07:16] K-Kumar-01 commented on #60
I would also like to have a go on this

[2020-10-02 19:41] jitinmaher commented on #36
@skodamarthi @reubenae Added a PR for the same [here](https://github.com/intuit/user-data-for-fraud-prevention/pull/62).

[2020-10-03 22:45] #41 closed

[2020-10-04 13:39] reubenae opened #66 "Linting tasks should run as part of circle CI - and fail the build if there are issues."
It would be good to have the linting a separate step so it reports separately to the tests on the PR.

[2020-10-04 13:50] vivek32ta commented on #66
Hi @reubenae I'd like to take this up

[2020-10-04 17:16] #60 closed

[2020-10-04 17:18] #36 closed

[2020-10-05 12:06] #25 closed

[2020-10-05 17:25] #19 closed

[2020-10-05 18:41] jitinmaher commented on #16
@reubenae Raised changes for this here: https://github.com/intuit/user-data-for-fraud-prevention/pull/72

[2020-10-06 17:08] tylerkrupicka commented on #24
I'm putting up a PR for this!

[2020-10-07 09:27] jitinmaher commented on #34
Added Pr for this issue here: https://github.com/intuit/user-data-for-fraud-prevention/pull/75

[2020-10-07 12:14] skodamarthi commented on #34
@jitinmaher  CI build was failing due to test failures: https://app.circleci.com/pipelines/github/intuit/user-data-for-fraud-prevention/167/workflows/6094951a-4260-4c73-a45d-477558ccb23f/jobs/169. Can you please fix the tests and raise another PR?

[2020-10-07 22:41] #34 closed

[2020-10-13 11:49] camsvn commented on #66
Is this issue taken?

[2020-10-13 12:00] skodamarthi commented on #66
Hi @camsvn.. @vivek32ta is working on this at the moment. Feel free to take a look at the open PR and create another one if you have a different approach.

[2020-10-14 07:07] vivek32ta commented on #66
Hi @skodamarthi... I'm waiting for the reviewers to review the PR.

Thanks :)

[2020-10-14 13:48] skodamarthi commented on #66
Thanks @vivek32ta I reviewed the PR and left some comments. Please take a look when you can.

[2020-10-16 00:12] nsinghal12 commented on #12
@reubenae Is this issue still available. If yes, I'd like to work on this.

[2020-10-19 22:01] #11 closed

[2020-10-19 22:01] #24 closed

[2020-10-25 11:28] JohanAludden opened #87 "Export screen and window details for HMRC integrations"
**Is your feature request related to a problem? Please describe.**
Sometimes we need to send the details of the screen and window as separate headers, at the moment we get a single screen and window value from the headers.

**Describe the solution you'd like**
I want to have the possibility to get screen width, hight, color depth and scaling as well as the window width and height.

**Describe alte

[2020-10-31 17:18] #66 closed

[2020-11-06 09:32] #87 closed

[2020-11-06 09:32] reubenae commented on #87
Thanks for the contribution, @JohanAludden !

[2021-07-02 00:52] yashasvimisra2798 commented on #17
I did love to contribute to this as a part of Grace Hopper OSD 2021, can you please elaborate more on what exactly needs to be done?

[2021-07-03 20:20] skodamarthi opened #106 "Remove the duplicate npm version badge from readme"
**Describe the bug**
A clear and concise description of what the bug is.

**To Reproduce**
Steps to reproduce the behavior:
1.
1.
1.

**Expected behavior**
A clear and concise description of what you expected to happen.

**Screenshots**
If applicable, add screenshots to help explain your problem.

**Info (please complete the following information):**
Any information about your environment you beli

[2021-07-03 20:32] skodamarthi opened #107 "Add semantic-release for automated version management and package publishing"
Add this: https://github.com/semantic-release/semantic-release

[2021-07-03 20:38] skodamarthi opened #108 "Update contributors on readme to reflect all contributors we have for this repo"
Please check the list of contributors here: https://github.com/intuit/user-data-for-fraud-prevention/graphs/contributors

And update the contributors on readme by following the instructions in the "How contributors get added to the README" section in the readme file.

[2021-07-04 07:41] rbrishabh commented on #107
I can help!

[2021-07-04 07:45] rbrishabh commented on #107
Hmm! I can't seem to run `yarn` on this project. It fails with this:
[code]
Any ideas?

[2021-07-06 10:18] shivanshi-s commented on #106
Hey, I am a GraceHopperOSD participant, please assign this to me?

[2021-07-08 11:40] reubenae commented on #107
Sorry, it looks like dependabot has messed something up here. Try deleting the yarn lock file and re-running yarn.

[2021-07-12 19:52] skodamarthi opened #110 "Remove "auto" related dependencies"
We tried adding "auto" to auto-generate releases, but it didn't work as expected. We reverted the changes done to circleCI config file as part of https://github.com/intuit/user-data-for-fraud-prevention/pull/74 for this. However, the changes done in package.json were not reverted. Please remove all "auto" related code in package.json as we are not using this.

[2021-07-13 19:06] Amishakumari544 commented on #108
I would like to take this  @skodamarthi

[2021-07-15 12:42] skodamarthi opened #111 "Update readme in hmrc folder to include documenation for "Gov-Client-Local-IPs-Timestamp" header"
https://github.com/intuit/user-data-for-fraud-prevention/tree/master/src/js/hmrc

Update readme to add details for a new header we added recently.

Gov-Client-Local-IPs-Timestamp - A timestamp to show when Gov-Client-Local-IPs header value is collected.

[2021-07-15 14:51] Swastyy commented on #111
Hey, @skodamarthi Can I work on this?

[2021-07-15 14:56] reubenae commented on #107
@rbrishabh FYI I have fixed that issue in master now - https://github.com/intuit/user-data-for-fraud-prevention/pull/112

You will need to make sure you're on the latest version of code, but you should be able to run `yarn` in this project now without any issues.

[2021-07-15 14:57] reubenae commented on #26
We have dependabot taking care of this now - should we update this issue or create a new issue to remove the unused renovate config?

[2021-07-15 14:59] reubenae commented on #26
Ah, dependabot only handles vulnerabilities. We still need to add the renovate bot to this project, but as you need to be an admin to do that I think we can close this issue until one of us handles it

[2021-07-15 14:59] #26 closed

[2021-07-15 15:40] yashasvimisra2798 commented on #17
Can I please get some inputs on what needs to be done?

[2021-07-15 15:53] reubenae commented on #17
Sure. So currently all implementation specific to HMRC (the tax agency in the UK) is within the `hmrc` folder https://github.com/intuit/user-data-for-fraud-prevention/tree/master/src/js

We expect the repo to maintain this structure, where common/non-specific code is within the common folder, and then implementation specific is within a specific folder.

The idea here is that two implementations m

[2021-07-15 15:59] reubenae opened #113 "Add documentation in additional languages"
**Is your feature request related to a problem? Please describe.**
This project could be more inclusive if the readme was available in multiple languages.

**Describe the solution you'd like**
Create copies of README.md in the project root, named appropriately e.g. README_SPANISH.md and linked to from the main readme. Something is better than nothing, so provided a single section of the readme is

[2021-07-15 16:06] skodamarthi commented on #111
@Swastyy Sure...This is open for anyone to contribute. Please submit a PR when you can and we are happy to help if you have any questions.

[2021-07-15 16:33] Ayushisood commented on #108
Hii @skodamarthi  I would liike to work in this issue, kindly assign this issue to me under OSD'21

[2021-07-15 16:39] #106 closed

[2021-07-15 16:46] reubenae commented on #108
@Ayushisood just go ahead and submit a PR, no need to have an issue assigned. We'll review and merge once its created.

[2021-07-15 16:48] reubenae commented on #12
@nsinghal12 absolutely! We had some snagging issues on Adam's PR, which never got merged. You can refer to that for next steps if you get stuck. I recommend raising small, incremental PR's so we can avoid big merge conflicts. Looking forward to your contribution!

[2021-07-15 17:07] yashasvimisra2798 commented on #17
Ok @reubenae , I'll work on this

[2021-07-15 19:12] vvijayalakshmi21 commented on #110
Hi,
Can I go ahead and remove everything with term "auto"?

[2021-07-15 19:31] skodamarthi opened #118 "Update "Steps for testing" section in readme"
Remove the demo label, create a new section "How to test" and move the "Steps for testing" section to a new file (DEMO.md)  similar to how it is done for the Usage section https://github.com/intuit/user-data-for-fraud-prevention/blob/master/USAGE.md

[2021-07-15 19:37] vvijayalakshmi21 commented on #118
What goes in to "How to test" section?

[2021-07-15 20:00] vvijayalakshmi21 commented on #118
PR #116 has the required changes for this issue as well
Please review and let me know

[2021-07-15 20:03] #110 closed

[2021-07-15 20:24] #118 closed

[2021-07-15 21:51] #108 closed

[2021-07-15 23:21] #17 closed

[2021-07-16 05:45] vijaya-lakshmi-venkatraman commented on #111
Hi
I presume this can be closed?

[2021-07-21 19:25] 12-malak commented on #113
@reubenae Hi, I would like to work on this. Please assign me under Open Source Day 2021.

[2021-07-21 19:33] reubenae commented on #113
Hi @12-malak no need for assigning, there are plenty of translations to go around 🙂 we don't assign tickets for this repo

You'll get credit for the PR on its own.

[2021-08-20 09:39] #16 closed

[2021-09-17 11:57] skodamarthi opened #124 "Add Gov-Client-Browser-JS-User-Agent header to HMRC headers"
**Is your feature request related to a problem? Please describe.**

Refer to HMRC documentation here to know the info we need to send as part of this header: https://developer.service.hmrc.gov.uk/guides/fraud-prevention/connection-method/web-app-via-server/#gov-client-browser-js-user-agent

**Describe the solution you'd like**
Add a function to fetch useragent using navigator.userAgent and use tha

[2021-09-25 15:07] skodamarthi opened #125 "Add Gov-Client-Public-IP header to HMRC headers"
**Is your feature request related to a problem? Please describe.**
Refer to HMRC documentation here to know the info we need to send as part of this header: https://developer.service.hmrc.gov.uk/guides/fraud-prevention/connection-method/web-app-via-server/#gov-client-public-ip

Describe the solution you'd like
Add a function to fetch public IP address using https://api.ipify.org and use that funct

[2021-09-25 15:14] skodamarthi opened #126 "Add Gov-Client-Public-IP-Timestamp header to HMRC headers"
**Is your feature request related to a problem? Please describe.**
A clear and concise description of what the problem is. Ex. I'm always frustrated when [...]

**Describe the solution you'd like**
A clear and concise description of what you want to happen.

**Describe alternatives you've considered**
A clear and concise description of any alternative solutions or features you've considered.

**Ad

[2021-10-01 15:04] regromrob commented on #12
Hi @skodamarthi is this issue apart of this year's hacktoberfest in addition to Grace Hopper?

[2021-10-01 15:27] KerinPithawala commented on #113
Can I add setup a workflow in this repository to add additional languages?

[2021-10-01 15:53] skodamarthi commented on #12
Hi @regromrob Yes...this is open for hacktoberfest as well. Contributions are welcome!

[2021-10-01 15:56] reubenae commented on #113
@KerinPithawala if you think it will help with this issue, then please go for it and let me or @skodamarthi know!

[2021-10-01 16:13] regromrob commented on #12
Awesome @skodamarthi I would love to be assigned to this issue please.

[2021-10-01 17:36] rachanamamillapalli commented on #125
I would like to work on this! @skodamarthi could you assign this to me?
Will reach out for more details once I explore the repo

[2021-10-01 17:45] skodamarthi commented on #125
Hi @rachanamamillapalli, Thank you for your interest in this issue. This is currently reserved for today for the participants of GraceHopper OSD. Feel free to check it later tomorrow and submit a PR if you don't see any comments/contributions by then.

[2021-10-01 18:50] KerinPithawala commented on #113
Yes @reubenae I can set up an workflow to translate and create this readme.md file to Chinese traditional, Arabic, Hindi and French.

[2021-10-01 18:53] reubenae commented on #113
@KerinPithawala sounds good to me. Let us know when you have something ready for us to review!

[2021-10-01 19:08] skodamarthi commented on #113
@reubenae Looks like @KerinPithawala is going to use https://github.com/dephraiim/translate-readme for automatic translation using https://cloud.google.com/translate/docs/languages. Is automatic translation what we want?

[2021-10-01 19:16] reubenae commented on #113
Oh... no. We want documentation that is approved by someone who can write in the language fluently. I'm happy for google translate to be used as a start but unless you can write fluently in that language and will be able to correct any mistakes, I think we wouldn't accept the contribution. What do you think @skodamarthi?

[2021-10-01 19:20] skodamarthi commented on #113
Yes... I agree too! @KerinPithawala Apologies for the confusion! If you can validate the google translation and correct it to make it meaningful for readers in the language you are fluent in, we can accept that contribution for that language. At the moment, we are not comfortable adding automatic translations. Please let us know if you have any questions.

[2021-10-01 19:27] KerinPithawala commented on #113
Makes sense @skodamarthi @reubenae . I don't know these languages well. It would be better if we get someone who is aware of them.

[2021-10-01 19:32] skodamarthi commented on #113
No problem @KerinPithawala! Thank you for looking into this issue. This discussion would clarify the expectation for other contributors too. If you would like, you can still contribute to add readme file in the language you are fluent in.

[2021-10-01 19:44] KerinPithawala commented on #113
Sure. Thanks!

[2021-10-02 07:34] rachanamamillapalli commented on #125
@skodamarthi is this issue open for hacktoberfest?

[2021-10-02 08:38] rachanamamillapalli commented on #124
@skodamarthi is this issue open for hacktoberfest?

[2021-10-02 11:22] reubenae commented on #124
@rachanamamillapalli yes, go ahead. GHC OSD is now over so feel free to pick up any of the issues and submit a PR.

[2021-10-02 11:39] rachanamamillapalli commented on #124
Thanks @reubenae. The PR is open but we might have to add the hacktoberfest label to count it

[2021-10-02 11:54] skodamarthi commented on #124
@rachanamamillapalli Done! Thank you for the contribution :)

[2021-10-02 11:54] #124 closed

[2021-10-02 18:01] ShreyaPrasad1209 commented on #107
@reubenae could you elaborate on how you want semantic-release to be added? I'm sorry I'm new to this project so forgive me if my questions sounds naive 😅

[2021-10-04 18:04] RiyaJohn commented on #126
@skodamarthi can I work on this issue?

[2021-10-04 18:59] bolu-tife commented on #125
Hi @skomarthi
Can this issue be assigned to me?

[2021-10-04 19:21] reubenae commented on #125
@bolu-tife we don't allow people to "claim" issues. You may submit a PR but you may not "sit" on an issue. However, I don't think anyone else is working on this right now.

[2021-10-04 23:23] someOne404 commented on #113
I can work on adding simplified Chinese and traditional Chinese

[2021-10-05 07:10] bolu-tife commented on #125
Thank you @reubenae

[2021-10-05 17:30] manueldose commented on #113
Hi @reubenae do you still need help with the Spanish translation? I speak Spanish natively. I'm starting in the openSource world and I 'd like to help. Do you need the modification of the README.md file?

[2021-10-05 20:30] reubenae commented on #126
@RiyaJohn no need to ask, just go ahead and submit a PR

[2021-10-05 20:31] reubenae commented on #113
@manueldose yes, absolutely! check out this PR https://github.com/intuit/user-data-for-fraud-prevention/pull/128 for a pattern you can follow (add it to the translation section on the English readme, create a new file for the spanish version).

We'll add hacktoberfest-accepted labels to PR's once they're merged, so it'll all count for hacktoberfest

[2021-10-05 20:35] manueldose commented on #113
Ok cool i'll get on with It!

[2021-10-05 20:36] #111 closed

[2021-10-07 03:40] RiyaJohn commented on #126
Cool, working on it, will raise a PR soon

[2021-10-10 13:00] salilbc commented on #113
i can work on adding the Readme in Hindi, do you need the ReadMe in Hindi?

[2021-10-13 20:04] skodamarthi opened #137 "Export timezone details header for HMRC (Gov-Client-Timezone)"
**Is your feature request related to a problem? Please describe.**
Currently, we are constructing all the HMRC headers as part of getFraudPreventionHeaders function in https://github.com/intuit/user-data-for-fraud-prevention/blob/master/src/js/hmrc/mtdFraudPrevention.js.

We want to provide the flexibility for users to choose the headers they want from this library independently, instead of provid

[2021-10-13 20:07] skodamarthi opened #138 "Export screen details header for HMRC (Gov-Client-Screens)"
**Is your feature request related to a problem? Please describe.**
Currently, we are constructing all the HMRC headers as part of getFraudPreventionHeaders function in https://github.com/intuit/user-data-for-fraud-prevention/blob/master/src/js/hmrc/mtdFraudPrevention.js.

We want to provide the flexibility for users to choose the headers they want from this library independently, instead of provid

[2021-10-13 20:11] skodamarthi opened #139 "Export window size details header for HMRC (Gov-Client-Window-Size)"
Is your feature request related to a problem? Please describe.
Currently, we are constructing all the HMRC headers as part of getFraudPreventionHeaders function in https://github.com/intuit/user-data-for-fraud-prevention/blob/master/src/js/hmrc/mtdFraudPrevention.js.

We want to provide the flexibility for users to choose the headers they want from this library independently, instead of providing

[2021-10-13 20:13] skodamarthi opened #140 "Export browser plugins header for HMRC (Gov-Client-Browser-Plugins)"
Is your feature request related to a problem? Please describe.
Currently, we are constructing all the HMRC headers as part of getFraudPreventionHeaders function in https://github.com/intuit/user-data-for-fraud-prevention/blob/master/src/js/hmrc/mtdFraudPrevention.js.

We want to provide the flexibility for users to choose the headers they want from this library independently, instead of providing

[2021-10-13 20:17] skodamarthi opened #141 "Export browser Do Not Track header for HMRC (Gov-Client-Browser-Do-Not-Track)"
Is your feature request related to a problem? Please describe.
Currently, we are constructing all the HMRC headers as part of getFraudPreventionHeaders function in https://github.com/intuit/user-data-for-fraud-prevention/blob/master/src/js/hmrc/mtdFraudPrevention.js.

We want to provide the flexibility for users to choose the headers they want from this library independently, instead of providing

[2021-10-13 20:20] skodamarthi opened #142 "Export local IP address details header for HMRC (Gov-Client-Local-IPs)"
Is your feature request related to a problem? Please describe.
Currently, we are constructing all the HMRC headers as part of getFraudPreventionHeaders function in https://github.com/intuit/user-data-for-fraud-prevention/blob/master/src/js/hmrc/mtdFraudPrevention.js.

We want to provide the flexibility for users to choose the headers they want from this library independently, instead of providing

[2021-10-13 20:23] skodamarthi opened #143 "Export device ID details header for HMRC (Gov-Client-Device-ID)"
Is your feature request related to a problem? Please describe.
Currently, we are constructing all the HMRC headers as part of getFraudPreventionHeaders function in https://github.com/intuit/user-data-for-fraud-prevention/blob/master/src/js/hmrc/mtdFraudPrevention.js.

We want to provide the flexibility for users to choose the headers they want from this library independently, instead of providing

[2021-10-13 20:26] skodamarthi opened #144 "Export local IPs collection timestamp details header for HMRC (Gov-Client-Local-IPs-Timestamp)"
Is your feature request related to a problem? Please describe.
Currently, we are constructing all the HMRC headers as part of getFraudPreventionHeaders function in https://github.com/intuit/user-data-for-fraud-prevention/blob/master/src/js/hmrc/mtdFraudPrevention.js.

We want to provide the flexibility for users to choose the headers they want from this library independently, instead of providing

[2021-10-13 20:30] #125 closed

[2021-10-13 20:33] skodamarthi opened #145 "Export browser user-agent details header for HMRC (Gov-Client-Browser-JS-User-Agent)"
Is your feature request related to a problem? Please describe.
Currently, we are constructing all the HMRC headers as part of getFraudPreventionHeaders function in https://github.com/intuit/user-data-for-fraud-prevention/blob/master/src/js/hmrc/mtdFraudPrevention.js.

We want to provide the flexibility for users to choose the headers they want from this library independently, instead of providing

[2021-10-14 05:28] abhinav-sharma-intuit commented on #139
I want to work on this can you assign this to me ?

[2021-10-14 12:28] ankush2805 commented on #142
Can I start working on it?

[2021-10-14 18:02] RiyaJohn commented on #138
@skodamarthi Added function to support this, let me know if this is how you thought around it

[2021-10-15 10:27] aditya-rastogi23 commented on #144
Ok I'll work on this, could you assign it to me?

[2021-10-15 10:42] skodamarthi commented on #144
We do not assign issues to anyone. Please go ahead and submit a PR once it is ready. Let us know if there are any questions.

[2021-10-15 14:43] DBrown2207 opened #150 "Excess downloads when using npm or yarn"
**Describe the bug**
When downloading the distributed package from npm repository using npm or yarn, many babel dependencies are downloaded as well. This slows down installation and also adds a lot of files which aren't needed to use the library.
A second issue is the src files are only partially downloaded, so if a user wants to read the source, or directly use the src to reduce bundling uuid dep

[2021-10-15 14:59] reubenae commented on #150
Fixed, thank you for raising and resolving!

[2021-10-15 14:59] #150 closed, assigned to nobody

[2021-10-16 05:46] aditya-rastogi23 commented on #144
Have created a PR, hopefully this covers what was needed?

[2021-10-19 23:01] #140 closed, assigned to nobody

[2021-10-20 19:52] #143 closed

[2021-10-21 19:50] #141 closed, assigned to nobody

[2021-10-25 20:01] #142 closed, assigned to nobody

[2021-10-30 10:16] #138 closed

[2021-10-30 10:21] skodamarthi commented on #138
:tada: This issue has been resolved in version 1.11.0 :tada:

The release is available on:
- `npm package (@latest dist-tag)`
- [GitHub release](https://github.com/intuit/user-data-for-fraud-prevention/releases/tag/v1.11.0)

Your **[semantic-release](https://github.com/semantic-release/semantic-release)** bot :package::rocket:

[2022-07-22 12:25] reubenae opened #171 "Remove usages of npm"
And only use yarn. E.g. should not have a `yarn.lock` file and a `package-lock.json` file.

[2022-07-22 12:26] reubenae commented on #171
package-lock was added here https://github.com/intuit/user-data-for-fraud-prevention/pull/158/files
Might be as easy and just deleting the file, assuming the CI passes.

[2022-10-03 06:05] Vikki123 commented on #12
Hi @reubenae @skodamarthi Would this be part of this hacktoberfest ?

[2022-10-04 19:46] #171 closed

[2022-10-04 21:08] pmaidens opened #177 "Add Linting to Prepush Hooks"
**Is your feature request related to a problem? Please describe.**

Linting is a step during the build that can cause the build to break. While this is definitely a good thing that helps keep the code quality high, it could easily catch contributors off guard since the documentation does not mention it anywhere and it is not automatically enforced before build time.

**Describe the solution you'd

[2022-10-05 08:16] #177 closed

[2022-10-05 08:30] reubenae commented on #144
Closed with https://github.com/intuit/user-data-for-fraud-prevention/pull/146

[2022-10-05 08:30] #144 closed

[2022-10-07 16:25] pmaidens commented on #12
@reubenae I think we can close this issue since #164 was merged. Do we also want to create a new issue to start migrating files from JavaScript to TypeScript? Or do you prefer to just have that happen naturally?

[2022-10-07 16:31] reubenae commented on #12
I won't have access to my laptop for a couple of days so can't add an issue for the file migration - but absolutely happy for that to happen deliberately rather than over time. So if you fancy a crack at that, go ahead! Small PR's better than large ones though please!

[2022-10-11 11:25] #139 closed

[2022-10-11 11:26] reubenae commented on #12
@pmaidens I'm back with laptop access now so feel free to make a PR and/or new issue as you wish, and I will review!

[2022-10-18 10:46] reubenae commented on #12
This issue is being worked on, but there is lots of work to go around. If you're looking at this for some work, please keep your PR's small so that merge conflicts are avoided and wasted work limited.
Thanks to Peter who has been leading the charge on this!

[2022-10-28 14:24] #107 closed

[2022-10-28 17:42] skodamarthi commented on #171
:tada: This issue has been resolved in version 1.11.2 :tada:

The release is available on:
- `npm package (@latest dist-tag)`
- [GitHub release](https://github.com/intuit/user-data-for-fraud-prevention/releases/tag/v1.11.2)

Your **[semantic-release](https://github.com/semantic-release/semantic-release)** bot :package::rocket:

[2022-10-31 21:56] pmaidens commented on #12
One of the most important things left for us to do here is that we need to publish our types for external consumption, and tie that into the exported functions to ensure we maintain those contracts.

The other major piece left is to migrate tests to TypeScript as well.

[2022-11-16 10:49] reubenae opened #192 "Discuss ownership of this repo going forward"
Context: @skodamarthi and I co-founded this repo, including all the work to open source it from a previously internal only repo at Intuit.

I am no longer at Intuit, and no longer even work within a domain in which I can use this repo. Recently, @pmaidens has taken on the overwhelming bulk of work in improving the quality of this repository.

I propose that we add @pmaidens as a co-owner of this r

[2022-11-16 22:50] skodamarthi commented on #192
@reubenae Thanks for bringing this up and I totally agree that @pmaidens would be a great addition to the team. @pmaidens What are your thoughts? :)